git+https://github.com/AndreiDudin/dm_api_account.git
git+https://github.com/AndreiDudin/orm_client.git
git+https://github.com/AndreiDudin/restclient.git
git+https://github.com/AndreiDudin/db_client.git
requests==2.31.0
pytest==8.0.2
structlog==24.1.0
allure-pytest==2.13.3
curlify==2.2.1
PyHamcrest==2.1.0
sqlacodegen==2.3.0.post1
SQLAlchemy==1.4.46
pydantic==2.6.3
vyper-config==1.2.1
records==0.5.3
psycopg2==2.9.9
psycopg2-binary==2.9.9
